@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define Merienda font */
@font-face {
  font-family: "National_Park";
  src: url("@/assets/font/National_Park/static/NationalPark-Regular.ttf") 
  format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  /* Custom selection color */
  ::selection {
    background-color: theme("colors.red.500");
    color: white;
  }

  ::-moz-selection {
    background-color: theme("colors.red.500");
    color: white;
  }

  body {
    background-color: #0a0a0b; /* Equivalent to bg-zinc-950 */
    font-family: "National_Park", sans-serif; /* Use the custom font */
  }
}

html {
  scroll-behavior: smooth;
}

/* Components layer */
@layer components {
  .container {
        @apply mx-auto; /* Tailwind utilities */
  }
}

.container {
      max-width: 1250px; /* Custom raw CSS */
}

.logo-3d-effect {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: perspective(1000px) translateZ(10px) rotateY(10deg);
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 15px 30px rgba(0, 0, 0, 0.1),
    0 6px 5px rgba(85, 1, 1, 0.5);
  filter: brightness(1.1);
}

/* Add 3D effect to text */
.text-3d-effect {
  text-shadow: 
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000,
    6px 6px 5px rgba(155, 132, 5, 0.5);
  transform: perspective(500px) translateZ(0);
  position: relative;
  display: inline-block;
}
